extends /pages/common/layout
include /pages/includes/searchbar/searchbar
include /pages/includes/infobar/infobar

block content
  div
    .body__content 
      +searchbar('найдётся всё')
      +infobar
