mixin searchbar(text)
  form
    div.search__inner
      div
        input.search__input(placeholder=text)
      div.search__inner_block
        a(href="#")
          img(src="/img/microphone.svg", width="39px")
        a(href="#")
          img(src="/img/photo.svg", width="39px")
