mixin searchbar(text)
  form
    .search__inner
      div
        input.search__input(placeholder=text)
      .search__inner_block 
        a(href="#")
          img(src="/img/microphone.svg", width="39px")
        a(href="#")
          img(src="/img/photo.svg", width="39px")
