{
  "extends": ["stylelint-config-standard", "stylelint-prettier/recommended"],
  "plugins": ["stylelint-prettier", "@prettier/plugin-pug"],
  "printWidth": 100,
  "trailingComma": "all",
  "singleQuote": false,
  "arrowParens": "always"
}
