header.headline
  a(href="#")
    img(src="../src/img/ya_logo.svg", width="54px")
  .headline__personal
    button.headline__personal-enter
      | Войти
    a(href="#")
      img.headline__personal-menu(
        src="../src/img/burger_menu.svg",
        width="54px"
      )
