header(class="headline")
        a(href="#")
            img(src="../src/img/ya_logo.svg" width="54px")
        div(class="headline__personal")
            button(class="headline__personal-enter")
                | Войти
            a(href="#")
                img(src="../src/img/burger_menu.svg" class="headline__personal-menu" width="54px")
        