mixin infobar
  .info__inner 
    .info__inner-numbers 
      div
        img(src="/img/moon.svg", width="39px")
        | 0°
      div
        a(href="#")
          | USD 92,05
      div
        a(href="#")
          | EUR 100,00
    .info__inner-city 
      a(href="#")
        | Москва
